name: Docker build and publish multiarch image
on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 21
      uses: actions/setup-java@v1
      with:
        java-version: 21

    - name: Build with Maven
      run: mvn -B package --file pom.xml -DskipTests=true

    # --- Multi-Arch Setup ---
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # --- Multi-Arch Build & Push ---
    - name: Build and Push Multi-Arch Image
      run: |
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          -t wlanboy/simpleservice:latest \
          --build-arg JAR_FILE=./target/simpleservice-0.1.1-SNAPSHOT.jar \
          --push .
